$def with (name)
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
       "http://www.w3.org/TR/html4/loose.dtd">
        
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head> 
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script> 
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script> 
    <script type="text/javascript" src="http://localhost/stock/options.js"></script> 
    <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css" rel="stylesheet"/> 
    <link type="text/css" href="http://localhost/stock/options.css" rel="stylesheet"/> 
    <title>Easy Options Calculator</title>
    <script type="text/javascript">
        $$(document).ready(
            function() {
                $$('[name=ticker]').autocomplete({
                    delay: 250,
                    select: selectStock,
                    source:
                        function(req, add) {
                            webreq('/search/' + req.term, 'GET',
                                function(text, stat, xhr) {
                                    console.log('webreq' + text);
                                    add(autocompleteItems(text));
                                    }, null);
                                }
                    });
                });
    </script>
</head> 
<body>
<div id="container"> 
<div id="header"> 
    <p>Easy Options Calculator</p> 
</div> 
<div id="main"> 
    <fieldset> 
        <legend> 
            <label for="ticker">Stock Symbol</label> 
            <input type="text" id="ticker" name="ticker" /> 
            <button name="goButton" onclick="selectStock()">Go!</button> 
        </legend> 
        <div class="fieldblock" style="align:left"> 
            <label for="price">Price</label> 
            <span name="price"></span><br /> 
            <label for="high">High Price</label> 
            <span name="high"></span><br /> 
            <label for="low">Low Price</label> 
            <span name="low"></span><br /> 
        </div> 
        <div class="fieldblock" style="align:right"> 
            <label for="volume">Volume</label> 
            <span name="volume"></span> 
        </div> 
    </fieldset> 
    <fieldset> 
        <legend> 
            <label for="expiry">Options Chain</label> 
            <select name="expiry"></select> 
        </legend> 
        <table style="width:100%"> 
            <thead> 
                <tr> 
                    <th>Last Price</th> 
                    <th>Bid</th> 
                    <th>Ask</th> 
                    <th>Strike</th> 
                    <th>Last Price</th> 
                    <th>Bid</th> 
                    <th>Ask</th> 
                </tr> 
            </thead> 
            <tbody style="height:200px;overflow:auto" name="strips"></tbody> 
        </table> 
    </fieldset> 
</div> 
</div> 
<div id="footer"> 
 <div id="content"><span><p>&copy; Ryan Day</p>&nbsp;2011</span></div> 
</div> 
</body>
</html>
